# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
    <li> List some of the popular languages used in data science</li>
    <li> List some of the popular languages used in data science</li>    
    <li>listed some data science popular tools</li>
    <li> List some of the everyday used libraries for data science</li>
</ul>e.

Some of the popular languages that Data Scientists use are:


1-python 


2-R  


3-matlab

Some of the commonly used libraries used by Data Scientists include: 

1- numpy


2- pandas


3- matplotlib


4- seaborn

| Data Science Tools| 
|---|
| VS code|
| jupyter notebook  |
| pycharm community edition |

<caption>this is  data science tools table</caption>

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [8]:
200 / 60 #  This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Elsayed Mohamed